{% extends "base.html" %}

{% block title %}Password Reset{% endblock %}

{% block content %}

{% if validlink %}

<h1>Enter New Password</h1>

<p>
Please enter your new password twice so we can verify you typed it in
correctly.
</p>

<form method="post">
{% csrf_token %}
New password: {{ form.new_password1 }}
{{ form.new_password1.errors }}
<br />
Confirm password: {{ form.new_password2 }}
{{ form.new_password2.errors }}
<br />
<input class="button" type="submit" value="Change my password" />
</form>

{% else %}

<h1>Password Reset Unsuccessful</h1>

<p>
The password reset link was invalid, possibly because it has already
been used.  Please request a new password reset.
</p>

{% endif %}

{% endblock %}
