{% extends "base.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}
<h1>Change Password</h1>
<form method="post">
{% csrf_token %}
{{ form.non_field_errors }}
<table class="account_table">
<tr> <td> Old password: </td> <td> {{ form.old_password }} </td> </tr>
<tr> <td colspan="2"> {{ form.old_password.errors }} </td> </tr>
<tr> <td> New password: </td> <td> {{ form.password }} </td> </tr>
<tr> <td colspan="2"> {{ form.password.errors }} </td> </tr>
<tr> <td> Re-enter new password: </td> <td> {{ form.password2 }} </td> </tr>
<tr> <td colspan="2"> {{ form.password2.errors }} </td> </tr>
</table>
<input class="button" type="submit" value="Update" />
</form>
{% endblock %}
