{% extends "base.html" %}

{% block title %}
{% if mode == 'aa' %}
Asset Allocation Calculator
{% endif %}
{% if mode == 'number' %}
Retirement Number Calculator
{% endif %}
{% if mode == 'edit' %}
Edit Scenario
{% endif %}
{% endblock %}

{% block head %}
<meta name="description" content="AACalc is a scientifically advanced online asset allocation calculator." /><!-- Keep content to less than 155 characters according to Wikipedia. -->
<script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    // Handle page reloads, button state may be remembered by browser but show/hide are not.
    $('.advanced_button:checked').closest('.simple_advanced').find('.advanced,.simple').toggle();
    $('.advanced_button').click(function() {
        $(this).closest('.simple_advanced').find('.advanced,.simple').toggle(400);
    });
});
</script>
{% endblock %}

{% block content %}
{% if mode == 'aa' %}
<h1>Asset Allocation Calculator</h1>
<img style="float: right;" width=400 height=200 src="/static/example-stocks.png">
We will compute the asset allocation for you to use given your
financial position.
<br />
<br />
Potentially receive 63% more investment portfolio income in retirement compared to other common asset allocation and withdrawal schemes<a title="Receive an expected 63%, 53%, or 53% increase in investment portfolio derived well being compared to age in bonds, age minus 10 in bonds, or a simplified target date scheme, and the 4% rule for a couple, both age 55, planning to retire at 65, with a $1,000,000 taxable portfolio, contributing $5,000/year growing by 7% per annum, $20,000/year in expected Social Security benefits, a 20% dividend and capital gain tax rate taxed using HIFO, variable withdrawals, a stock/bond portfolio, not planning on leaving an inheritance, and the default market expectations, risk tolerance, and well being parameters. Savings amounts are rounded down.">. <img src="/static/images/Information-icon.png" alt="[?]"></a>
<br />
<br />
<div align="center">
<a class="nav_like" href="{% url sample %}">Sample Results</a>
</div>
<div style="clear: both;">
</div>
<br />
{% endif %}
{% if mode == 'number' %}
<h1>Retirement Number Calculator</h1>
We will compute the financial position you need to reach by
retirement.
<br />
<br />
{% endif %}
{% if mode == 'edit' %}
<h1>Edit Scenario</h1>
{% endif %}

<form  method="post">
{% csrf_token %}

{% if errors_present %}
<p class="errorlist">
Please correct the errors in red below:
</p>
{{ se_form.non_field_errors }}
{% endif %}

<h2>Life expectancy</h2>
Sex: {{ se_form.sex }}
Age or date of birth: {{ se_form.dob }} (mm/dd/yyyy or yyyy-mm-dd)
{{ se_form.dob.errors }}
<br />
Spouse/partner: {{ se_form.sex2 }}
Age or date of birth: {{ se_form.dob2 }}
{{ se_form.dob2.errors }}
<br />
<font size="-1">
The full range of life expectancy possibilities will be analyzed based
on U.S. cohort actuarial longevity data for the specified age and
gender.
</font>

{% if se_form %}
<h2>Financial position</h2>
<div class="simple_advanced">
<div class="advanced_controller">
{{ se_form.advanced_position }} Advanced
{{ se_form.advanced_position.errors }}
<br />
<br />
</div>
Except where indicated all amounts, calculations, and results are in real dollar terms after
adjusting for inflation.
<br />
<br />
<div class="advanced">
Average effective nominal tax rates on dividends: {{ se_form.tax_rate_div_default_pct }}% Capital gains: {{ se_form.tax_rate_cg_pct }}%
{{ se_form.tax_rate_cg_pct.errors }}
{{ se_form.tax_rate_div_default_pct.errors }}
<br />
Cost basis method: {{ se_form.cost_basis_method }}
<br />
<font size="-1">
The average effective tax rate is the average across the entire
investment portfolio excluding defined benefit payouts, and it should
be reduced to reflect the real world tax advantaged status of any
IRAs/401(k)s.
<br />
Accounting for the effects of taxation is imperfect. A very crude
estimate of the impact of taxes is made in order to produce the
recommended asset allocation.  The cost basis method specified is only
used during the subsequent simulation of the recommended asset
allocation.
</font>
<br />
<br />
</div>
Expected annual Social Security: {{ se_form.defined_benefit_social_security }}
{{ se_form.defined_benefit_social_security.errors }}
<br />
Expected annual employment pensions payout: {{ se_form.defined_benefit_pensions }}
{{ se_form.defined_benefit_pensions.errors }}
<div class="advanced">
Expected annual fixed annuities payout: {{ se_form.defined_benefit_fixed_annuities }}
{{ se_form.defined_benefit_fixed_annuities.errors }}
</div>
<div>
<font size="-1">
Payments assumed to start at retirement. COLA (cost of living adjustment) assumed. No taxes get taken out.
</font>
</div>
{% if mode == 'number' %}
{{ se_form.retirement_number }}
{% else %}
<br />
{% if mode == 'edit' %}
Compute my number: {{ se_form.retirement_number }}
{{ se_form.retirement_number.errors }}
<br />
<font size="-1">
If selected, the financial position you need to reach by retirement will be
computed and the rest of this section can be skipped.
</font>
<br />
<br />
{% endif %}
<div class="advanced">
Pre-tax Traditional IRAs/401(k)s size: {{ se_form.p_traditional_iras }}
{{ se_form.p_traditional_iras.errors }}
<br />
Post-tax Roth IRAs/401(k)s size: {{ se_form.p_roth_iras }}
{{ se_form.p_roth_iras.errors }}
<br />
<font size="-1">
IRAs/401(k)s are handled very imperfectly. Their compounding tax advantaged
status is not realized, and Traditional IRAs/401(k)s undergo an effective
immediate reduction in size to account for tax payments due on
withdrawal.
</font>
<br />
</div>
<span class="advanced">Taxable retirement</span><span class="simple">Retirement</span> savings size: {{ se_form.p }}
{{ se_form.p.errors }}
<br />
<br />
Pre-retirement annual contribution amount (irrelevant if retired):
{{ se_form.contribution }}
{{ se_form.contribution.errors }}
Growth rate: {{ se_form.contribution_growth_pct }}%
{{ se_form.contribution_growth_pct.errors }}
<br />
<font size="-1">
Contribution are assumed to occur to taxable. Increase contribution amount slightly if to IRAs/401(k)s.
A growth rate of 7% represents a doubling of real
contributions every 10 years.  Remember to take into account life
events such as promotions, paying off a mortgage, or children leaving
home in estimating the contribution growth rate.
</font>
{% endif %}
</div>
<h2>Financial goals</h2>
<div class="simple_advanced">
<div class="advanced_controller">
{{ se_form.advanced_goals }} Advanced
{{ se_form.advanced_goals.errors }}
<br />
<br />
</div>
Year of retirement: {{ se_form.retirement_year }}
{{ se_form.retirement_year.errors }}
<br />
Minimum annual retirement consumption amount: {{ se_form.floor }}
{{ se_form.floor.errors }}
<br />
<font size="-1">
The minimum annual consumption amount should be in today's dollars and include
defined benefits. It will be used for reporting when failure occurs.
</font>
<br />
<br />
Risk tolerance: {{ se_form.risk_tolerance }}%
{{ se_form.risk_tolerance.errors }}
<br />
<font size="-1">
How much you can tolerate a loss psychologically.
This value is the maximum standard deviation in expected annual returns to allow.
A value of 10% will limit you to bond heavy portfolios.
A value of 20% will allow almost unlimited exposure to the broad stock market when it is warranted.
A value of 30% will allow almost unlimited exposure to any of the asset classes considered here.
</font>
<br />
<div class="advanced">
<br />
Utilize a fixed withdrawal rate strategy: {{ se_form.vw_amount }}
{{ se_form.vw_amount.errors }}
<br />
<font size="-1">
A variable withdrawal rate strategy is typically more realistic and
will give better performance than a fixed withdrawal strategy.
</font>
<br />
Annual retirement consumption amount: {{ se_form.withdrawal }}
{{ se_form.withdrawal.errors }}
<br />
<br />
Leaving a bequest matters: {{ se_form.inherit }}
{{ se_form.inherit.errors }}
<br />
<font size="-1">
Leaving a bequest has a significant impact on asset allocation
for large portfolios with fixed withdrawal rates. Without any
plans to leave an bequest mainly bonds are recommended for large
portfolios. Once a bequest enters the
picture, stocks become a better choice. Valuing leaving a bequest
too highly results in stocks being recommended even for small
portfolios.
</font>
<br />
Fraction of unsatisfied well being capable of being satisfied by being able to leave a bequest: {{ se_form.utility_dead_limit_pct }}%
Goal is to share bequest between {{ se_form.utility_inherit_years }} people over one year, or equivalently this many years by one person.
Each person is currently consuming {{ se_form.utility_bequest_consume }}.
{{ se_form.utility_dead_limit_pct.errors }}
{{ se_form.utility_inherit_years.errors }}
{{ se_form.utility_bequest_consume.errors }}
</div>
</div>
<h2>Market parameters</h2>
<div class="simple_advanced">
<div class="advanced_controller">
{{ se_form.advanced_market }} Advanced
{{ se_form.advanced_market.errors }}
<br />
<br />
</div>
There is no advantage to taking diversifiable risk.
We therefore assume the behavior of your investments corresponds to that of the
relevant asset classes. This can be achieved using index based funds from
a provider such as <a href="http://www.vanguard.com/">Vanguard</a>.
<br />
<br />
Asset classes to consider:
<br />
<font size="-1">
Stocks and bonds are sufficient for most purposes. <span class="advanced">Care must be taken
when interpreting the results for other asset classes because mean
variance optimization is very sensitive to small differences between
similar asset classes. Additionally, for more than two asset classes
with non-normal return distributions be aware that the results of mean
variance optimization are ever so slightly non-optimal even when the
returns are independent over time. As a result abrupt asset allocation
transitions may appear.</span>
</font>
<br />
{{ se_form.class_stocks }} Stocks
<font size="-1">
(US stocks; 1872-2013 available)
</font>
{{ se_form.class_stocks.errors }}
<br />
{{ se_form.class_bonds }} Bonds
<font size="-1">
(US investment grade; 1872-2013 available)
</font>
{{ se_form.class_bonds.errors }}
<span class="advanced">
<br />
{{ se_form.class_eafe }} International
<font size="-1">
(developed large cap international unhedged; 1970-2013 available)
</font>
{{ se_form.class_eafe.errors }}
<br />
{{ se_form.class_ff_bl }} Large Growth
<font size="-1">
(US large market cap / low book to market; 1927-2013 available)
</font>
{{ se_form.class_ff_bl.errors }}
<br />
{{ se_form.class_ff_bm }} Large Neutral
<font size="-1">
(US large market cap / medium book to market; 1927-2013 available)
</font>
{{ se_form.class_ff_bm.errors }}
<br />
{{ se_form.class_ff_bh }} Large Value
<font size="-1">
(US large market cap / high book to market; 1927-2013 available)
</font>
{{ se_form.class_ff_bh.errors }}
<br />
{{ se_form.class_ff_sl }} Small Growth
<font size="-1">
(US small market cap / low book to market; 1927-2013 available)
</font>
{{ se_form.class_ff_sl.errors }}
<br />
{{ se_form.class_ff_sm }} Small Neutral
<font size="-1">
(US small market cap / medium book to market; 1927-2013 available)
</font>
{{ se_form.class_ff_sm.errors }}
<br />
{{ se_form.class_ff_sh }} Small Value
<font size="-1">
(US small market cap / high book to market; 1927-2013 available)
</font>
{{ se_form.class_ff_sh.errors }}
<br />
{{ se_form.class_reits_e }} Real estate
<font size="-1">
(US equity REITs; 1972-2013 available)
</font>
{{ se_form.class_reits_e.errors }}
<br />
{{ se_form.class_t1mo }} T-bill 1mo
<font size="-1">
(US 1 month T-bills; 1927-2013 available)
</font>
{{ se_form.class_t1mo.errors }}
<br />
{{ se_form.class_t1yr }} T-bill 1yr
<font size="-1">
(US 1 year T-bills; 1954-2013 available)
</font>
{{ se_form.class_t1yr.errors }}
<br />
{{ se_form.class_t10yr }} T-bill 10yr
<font size="-1">
(US 10 year T-notes; 1872-2013 available)
</font>
{{ se_form.class_t10yr.errors }}
<br />
{{ se_form.class_aaa }} AAA corporate bonds
<font size="-1">
(US long term; 1920-2013 available)
</font>
{{ se_form.class_aaa.errors }}
<br />
{{ se_form.class_baa }} BAA corporate bonds
<font size="-1">
(US long term; 1920-2013 available)
</font>
{{ se_form.class_baa.errors }}
<br />
{{ se_form.class_reits_m }} Real estate mortgages
<font size="-1">
(US mortgage REITs; 1972-2013 available)
</font>
{{ se_form.class_reits_m.errors }}
<br />
{{ se_form.class_gold }} Gold
<font size="-1">
<span class="warning">Not recommended: until the 1970's in the US it was illegal to invest in gold making its performance difficult to project</span> (1872-2013 available)
</font>
{{ se_form.class_gold.errors }}
<br />
{{ se_form.class_risk_free }} Risk free asset returning {{ se_form.ret_risk_free_pct }}%
<font size="-1">
(zero volatility after inflation; most closely approximates inflation indexed bonds; 1872-2013 available)
</font>
{{ se_form.class_risk_free.errors }}
{{ se_form.ret_risk_free_pct.errors }}
</span>
<br />
<div class="advanced">
Historical period to analyze: {{ se_form.generate_start_year }} - {{ se_form.generate_end_year }}
<font size="-1">
Market data must be available.
</font>
{{ se_form.generate_start_year.errors }}
{{ se_form.generate_end_year.errors }}
<br />
Historical period to simulate: {{ se_form.validate_start_year }} - {{ se_form.validate_end_year }}
<font size="-1">
Market data must be available.
</font>
{{ se_form.validate_start_year.errors }}
{{ se_form.validate_end_year.errors }}
<br />
<font size="-1">
After analyzing the historical data and producing a recommended asset allocation, a simulation is performed to see how well the recommended asset allocation performs.
</font>
</div>
<br />
Returns for stocks: {{ se_form.ret_equity_pct }}%
{{ se_form.ret_equity_pct.errors }}
Bonds: {{ se_form.ret_bonds_pct }}%
{{ se_form.ret_bonds_pct.errors }}
Management fees: {{ se_form.expense_pct }}%
{{ se_form.expense_pct.errors }}
<br />
<font size="-1">
We use the historical returns record including its variance for both analysis and simulation.  However,
we allow the historical record to be adjusted to better match
projections for the future.  Historically, for the period 1927-2013,
the US stock market and US investment grade bonds returned geometric
mean real returns of 6.8% and 2.7% per annum respectively. Current bond returns
are however substantially lower than this, and going
forward <a href="http://www.advisorperspectives.com/newsletters12/Jeremy_Siegel_Rob_Arnott_and_Other_Experts_Forecast_Equity_Returns.php">many
experts also predict</a> lower stock market returns.
Any adjustment made to stocks or bonds will result in matching
adjustments to the other equity or fixed income classes.
To make things realistic investment management fees should also be
subtracted which typically range from 0.1% to 1.0% per annum.
</font>
<br />
<div class="advanced">
<br />
Additional simulation only downward market adjustment: {{ se_form.neg_validate_all_adjust_pct }}%
Equity volatility level: {{ se_form.validate_equity_vol_adjust_pct }}%
{{ se_form.validate_all_adjust.errors }}
{{ se_form.validate_equity_vol_adjust_pct.errors }}
<br />
<font size="-1">
After generating the recommended asset allocation, and during subsequent performance simulation, the performance of all asset classes can be downwardly adjusted, and the volatility of equity asset classes can be increased. This adjustment is made to the chosen return levels above.
</font>
</div>
<br />
Performing a sensitivity analysis of any results is highly recommended.
<br />
<font size="-1">
Ideally distinct time periods could be analyzed and simulated, but a paucity of data means adjustments to the data may be all that is available.
</font>
</div>
<h2>Well being</h2>
<div class="simple_advanced">
<div class="advanced_controller">
{{ se_form.advanced_well_being }} Advanced
{{ se_form.advanced_well_being.errors }}
<br />
</div>
<div class="advanced">
<br />
Annual discount rate for consumption and bequest: {{ se_form.consume_discount_rate_pct }}%
{{ se_form.consume_discount_rate_pct.errors }}
<br />
<font size="-1">
It is better to consume sooner rather than later for a variety of reasons,
and this parameter records how much better.
</font>
<br />
<br />
Pick one of the following choices.
<br />
<font size="-1">
Well being is valued using a utility function.
The question here determines the shape of the utility function.
</font>
<br />
<table>
<tr>
<td>
{% comment %} Django 1.4 supports accessing individual elements, which would do away with a lot of the messyness here. {% endcomment %}
<input type="radio" name="utility_method" value="ce"
{% if se_form.utility_method.value == 'ce' %}
checked="checked"
{% endif %}
/>
</td>
<td>
CRRA power utility function. Indifference between receiving a fixed {{ se_form.utility_ce }}
times the desired consumption amount or a 50/50 chance of receiving either the desired
consumption amount or twice the desired consumption amount.
{{ se_form.utility_ce.errors }}
</td>
</tr>
<tr>
<td>
<input type="radio" name="utility_method" value="slope"
{% if se_form.utility_method.value == 'slope' %}
checked="checked"
{% endif %}
/>
</td>
<td>
CRRA power utility function.
An additional dollar at the desired consumption
amount would be {{ se_form.utility_slope_double_withdrawal }} times as valuable as
an additional dollar when receiving twice the consumption amount.
{{ se_form.utility_slope_double_withdrawal.errors }}
</td>
</tr>
<tr>
<td>
<input type="radio" name="utility_method" value="eta"
{% if se_form.utility_method.value == 'eta' %}
checked="checked"
{% endif %}
/>
</td>
<td>
CRRA power utility function. Coefficient of relative risk aversion &gamma;:
{{ se_form.utility_eta }}
{{ se_form.utility_utility_eta.errors }}
</td>
</tr>
<tr>
<td>
<input type="radio" name="utility_method" value="alpha"
{% if se_form.utility_method.value == 'alpha' %}
checked="checked"
{% endif %}
/>
</td>
<td>
CARA exponential utility function. Coefficient of absolute risk aversion &alpha;:
{{ se_form.utility_alpha }}
{{ se_form.utility_utility_alpha.errors }}
</td>
</tr>
</table>
</div>
</div>
{% endif %}

<br />
<br />
<div style="text-align:center;">
{% if se_form %}
<input class="button" type="submit" value="Submit (takes 60-90 seconds to process)" />
{% else %}
<input class="button" type="submit" value="Create" />
{% endif %}
</div>
</form>

{% endblock %}
