# AIPlanner - Deep Learning Financial Planner
# Copyright (C) 2019 Gordon Irlam
#
# All rights reserved. This program may not be used, copied, modified,
# or redistributed without permission.
#
# This program is distributed WITHOUT ANY WARRANTY; without even the
# implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
# PURPOSE.

[Unit]
Description=AIPlanner API Webserver

[Service]
User=ubuntu
Group=ubuntu
Type=forking
ExecStart=/home/ubuntu/aiplanner/ai/web/server --port=3000 --notify-email=notify@thisdomain --admin-email=you@yourdomain
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
