{% extends "base.html" %}

{% block content %}

<h1>Privacy Policy</h1>

<p>
Version 1, December 21, 2012.
</p>

<p>
By using our site, you consent to our privacy policy.
</p>

<p>
We collect information such as scenario name, sex, date of birth,
financial position, financial goals, and email address.
</p>

<p>
We collect this information so we may provide you with financial
advise, and so that we may contact you in the future if the need
arises.
</p>

<p>
We do not share any of this information with third parties, apart from
requests from law enforcement, in compliance with a court order, or in
response to malicious acts.
</p>

<p>
We make use of cookies for session management.
</p>

<p>
We make use of computers located at Amazon Web Services, a hosting
provider.  Amazon Web Services publishes information on
the <a href="http://aws.amazon.com/security/">security of its
systems</a>.
</p>

<p>
If we change our privacy policy, we will provide notice by updating
this page.
</p>

<p>
Information on contacting us regarding this policy is
provided <a href="{% url about %}">here</a>.
</p>

{% endblock %}
