{% extends "base.html" %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}

<h1>Privacy Policy</h1>

<p>
Version 1, May 29, 2013.
</p>

<p>
By using our site, you consent to our privacy policy.
</p>

<p>
We collect information such as scenario name, sex, date of birth,
financial position, financial goals, and email address.
</p>

<p>
We collect this information so we may provide you with financial
advise, and so that we may contact you.
We will not contact you except:
<ul>
<li> to obtain user feedback </li>
<li> for debugging purposes </li>
<li> in the event you forget your password </li>
<li> to provide you with an annual asset allocation rebalancing reminder </li>
<li> to notify you of any important changes in site policies </li>
<li> in the event of a discovery that invalidates reported results </li>
<li> in the event of a data breach </li>
<li> in response to requests from law enforcement </li>
<li> in compliance with a court order or other due legal process </li>
</ul>
</p>

<p>
We do not share any of the information collected with third parties, apart from
requests from law enforcement, in compliance with a court order or other due legal process, or in
response to malicious acts.
</p>

<p>
We make use of cookies for session management.
</p>

<p>
We make use of computers located at Amazon Web Services, a hosting
provider.  Amazon Web Services publishes information on
the <a href="http://aws.amazon.com/security/">security of its
systems</a>.
</p>

<p>
If we change our privacy policy, we will provide notice by updating
this page.
</p>

<p>
Information on contacting us regarding this policy is
provided <a href="{% url 'about' %}">here</a>.
</p>

{% endblock %}
